<div class="question">
  <p><%= params[:question] %></p>
  <p class="signature">- You</p>
</div>


<div class="answer">
  <p><%= @answer %></p>
  <p class="signature">- Your Stupid Coach</p>
</div>


<%= link_to 'Ask a new question', 'ask' %>
